:root {
  --primary: #33ad73;
  --primary-light: #d5f3e5;
  --quinary-light: #e9d9fb;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
